<div
  class="filter-container"
  data-aos="fade-up"
  data-aos-duration="2000"
  data-aos-delay="400"
>
  <div class="cr-shop-sideview">
    <div class="cr-shop-categories">
      <h4 class="cr-shop-sub-title">Categoría</h4>
      <div class="cr-checkbox">
        <div class="checkbox-group">
          <input type="checkbox" id="drinks" />
          <label for="drinks">Jugos y Bebidas</label>
          <span>[20]</span>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="drinks1" />
          <label for="drinks1">Lácteos y Leche</label>
          <span>[54]</span>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="drinks2" />
          <label for="drinks2">Snacks y Especias</label>
          <span>[64]</span>
        </div>
      </div>
    </div>
    <div class="cr-shop-price">
      <h4 class="cr-shop-sub-title">Precio</h4>
      <div class="price-range-slider">
        <div class="quick-price-buttons">
          <button type="button" class="price-button">Hasta S/ 100</button>
          <button type="button" class="price-button">De S/ 100 a S/ 500</button>
          <button type="button" class="price-button">De S/ 500 a más</button>
        </div>

        <button type="button" class="cr-button">Aplicar Filtro</button>
      </div>
    </div>
  </div>
</div>
